.input-panel{
	height: 50px;
	background-color: #E7E7FC;
	text-align: center;
}
.details-wrapper{
	margin-top: 95px;
}
tr{
	cursor: pointer;
}
.table-rows:hover {
          background-color: yellow !important;
 }