	<div class="input-panel">
		<form class="form-inline">
			<div class="form-group">
				<label for="exampleInputName2">Filter</label>
				<input type="text" class="form-control" ng-change="dataCtrl.filterData(dataCtrl.filterInput.id)" ng-model="dataCtrl.filterInput.id">
			</div>
			<button ng-click="dataCtrl.addData()" class="btn btn-default">Add</button>
			<button ng-click="dataCtrl.remove()"  class="btn btn-default">Remove</button>
		</form>
	</div>
	<div class="row details-wrapper">
		<div class="table-wrapper col-md-7">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Date</th>
						<th>Grade</th>
						<th>Subject</th>
					</tr>
				</thead>
				<tbody>
					<tr class="table-rows"  dir-paginate="data in dataCtrl.data |itemsPerPage:5" ng-click="dataCtrl.selectRow($index)">
						<th scope="row">{{data.id}}</th>
						<td>{{data.name}}</td>
						<td>{{data.date_joined}}</td>
						<td>{{data.grade}}</td>
						<td>{{data.subject}}</td>
					</tr>
				</tbody>
			</table>
			 <dir-pagination-controls  on-page-change="dataCtrl.pageChanged(newPageNumber)"></dir-pagination-controls>
		</div>
		<div class="details-panel col-md-5" ng-if="dataCtrl.rowSelected || dataCtrl.newData">
			<h3 class="col-md-12">Details</h3>
			<form ng-submit="dataCtrl.saveData(dataCtrl.rowData)">
			<fieldset class="col-md-12" ng-disabled="dataCtrl.rowSelected">
					<div class="form-group col-md-10">
						<label for="usr">Id:</label>
						<input type="text" class="form-control" ng-model="dataCtrl.rowData.id">
					</div>
					<div class="form-group col-md-10">
						<label for="pwd">Name:</label>
						<input type="text" class="form-control" ng-model="dataCtrl.rowData.name">
					</div>
					<div class="form-group col-md-10">
						<label for="pwd">Grade:</label>
						<input type="text" class="form-control" ng-model="dataCtrl.rowData.grade">
					</div>
					<div class="form-group col-md-10">
						<label for="pwd">Email:</label>
						<input type="email" class="form-control" ng-model="dataCtrl.rowData.email">
					</div>
					<div class="form-group col-md-10">
						<label for="pwd">Date Joined:</label>
						<input type="text" class="form-control" ng-model="dataCtrl.rowData.date_joined">
					</div>
					<div class="form-group col-md-10">
						<label for="pwd">Address:</label>
						<input type="text" class="form-control" ng-model="dataCtrl.rowData.address">
					</div>
					<div class="form-group col-md-10">
						<label for="pwd">City:</label>
						<input type="text" class="form-control" ng-model="dataCtrl.rowData.city"> 
					</div>
					<div class="form-group col-md-10">
						<label for="pwd">Country:</label>
						<input type="text" class="form-control" ng-model="dataCtrl.rowData.country">
					</div>
					<div class="form-group col-md-10">
						<label for="pwd">Zip:</label>
						<input type="text" class="form-control" ng-model="dataCtrl.rowData.zip">
					</div>
					<div class="form-group col-md-10">
						<label for="pwd">Subject:</label>
						<input type="text" class="form-control" ng-model="dataCtrl.rowData.subject">
					</div>
					<div class="form-group col-md-10">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
					
				</fieldset>
			</form>
		</div>
	</div>