<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref-opts="{reload:true}" ui-sref="data">Data</a>
      <a class="navbar-brand" ui-sref="analysis">Analysis</a>
      <a class="navbar-brand" ui-sref="monitor">Monitor</a>
    </div>
  </div>
</nav>
<ui-view></ui-view>